.sorting-hat {
  background-color: gray;
}

.card {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 1em 0 2em 0;
}

.sorting-hat-title {
  font-size: 5em;
  font-weight: 300;
}

.card:nth-child(2) {
  font-size: 10em;
}

.btn-sorting-start {
  width: 25%;
}

hr {
  border-top: 1px solid rgb(77, 77, 77);
  width: 60%;
}
