@import url("http://fonts.cdnfonts.com/css/harry-potter");

body {
  background-image: url(img/greathall2.png);
  background-position: top center;
  color: white;
  text-shadow: 1px 1px 2px black, 2px 2px 3px gold;
  font-family: "Harry Potter";
}

.card {
  display: flex;
  align-items: center;
  background-color: rgba(19, 19, 19, 0.075);
  padding: 2em 0 1em 0;
  font-family: "Harry Potter", sans-serif;
  color: goldenrod;
  text-shadow: 1px 1px 3px white, 2px 2px 6px black;
  margin-bottom: -1.5em;
}

.card p {
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}

.btn-sorting-start {
  background-image: url(img/sortinghatbutton.png);
  background-size: 6em;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 5em;
  min-height: 5em;
  margin-top: 1em;
}

.sorting-hat-title {
  font-size: 5em;
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
}

.btn-sorting-start {
  width: 25%;
}

hr {
  border-top: 1px solid rgb(77, 77, 77);
  width: 80%;
}

.update-div {
  display: flex;
  flex-direction: column;
  margin: 3em 1em 3em 1em;
  align-items: center;
}

.student-form {
  display: flex;
  background-color: rgba(19, 19, 19, 0.075);
  flex-direction: column;
  margin: 3em 1em 3em 1em;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.7em 0 0.25em 0;
}

.student-form .btn {
  background-image: linear-gradient(120deg, gold, rgb(114, 86, 14));
  border: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.form-inline {
  display: flex;
  width: 50%;
  margin: 0 1em 1em 1em;
}

.form-control {
  display: inline-flex;
  align-items: center;
  margin: 0 1em 0 1em;
}

#errorMessage {
  color: red;
}

.student-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.filter-dropdown {
  max-width: 20%;
  align-self: center;
}

.first-year-title {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  flex-grow: 2;
  text-align: center;
  visibility: hidden;
}

.voldemort-title {
  flex-basis: 45%;
  flex-grow: 2;
  text-align: center;
  visibility: hidden;
  text-shadow: 1px 1px 2px black, 2px 2px 3px lime;
}
.good-students {
  display: flex;
  background-color: rgba(19, 19, 19, 0.3);
  flex-wrap: wrap;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  visibility: hidden;
  min-height: 30em;
}

.bad-students {
  display: flex;
  background-color: rgba(19, 19, 19, 0.3);
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1em;
  flex-basis: 30%;
  flex-grow: 2;
  visibility: hidden;
  min-height: 30em;
  word-wrap: break-word;
}

.student-card {
  display: flex;
  background-color: rgba(19, 19, 19, 0.7);
  flex-basis: 25%;
  margin: 1.5em;
  height: 26.5em;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  align-items: space-evenly;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px black, 3px 3px 5px gold;
}

.student-card img {
  width: 80%;
  margin-top: -60%;
  align-self: center;
}

.death-eater-card {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: rgba(19, 19, 19, 0.7);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  margin: 1.5em;
  text-align: center;
  text-justify: justify;
  text-justify: inter-word;
  text-shadow: 1px 1px 2px black, 1px 1px 5px rgb(12, 252, 12);
}

.death-eater-card .btn {
  margin-bottom: 1em;
  width: 60%;
  align-self: center;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(120deg, gold, rgb(0, 148, 0));
  color: white;
  text-shadow: 1px 1px 2px black;
  border: 0em;
}

.death-eater-card .btn:hover {
  box-shadow: 2px 2px 5px lime, -2px -2px 5px lime, 2px -2px 5px lime,
    -2px 2px 5px lime;
}

.death-eater-card img {
  align-self: center;
  max-width: 75%;
  margin-bottom: 0.8em;
  margin-top: 2%;
}

.card-body {
  display: flex;
  margin-top: 45%;
  flex-direction: column;
  align-content: space-evenly;
}

.house-color {
  min-height: 2em;
  min-width: 10%;
}

.card-body .btn {
  margin: 1em 0 0 0;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(200deg, gold, red);
  color: white;
  text-shadow: 1px 1px 2px black;
  border: 0em;
}

.btn:hover {
  box-shadow: 2px 2px 5px gold, -2px -2px 5px gold, 2px -2px 5px gold,
    -2px 2px 5px gold;
}

.Ravenclaw {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px 0 0 3px;
}

.Gryffindor {
  background-color: red;
  border: 1px solid red;
  border-radius: 3px 0 0 3px;
}

.Hufflepuff {
  background-color: gold;
  border: 1px solid gold;
  border-radius: 3px 0 0 3px;
}

.Slytherin {
  background-color: green;
  border: 1px solid green;
  border-radius: 3px 0 0 3px;
}

.card-subtitle {
  font-weight: normal;
}

h5 {
  word-break: break-word;
}

.update-container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  min-width: 70%;
  min-height: 11em;
  background-color: rgba(126, 125, 125, 0.2);
  border: 2px;
  border-radius: 5px;
  padding: 0.5em 5em 0.5em 5em;
}

.update-container .btn {
  background-image: linear-gradient(120deg, gold, rgb(114, 86, 14));
  border: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.name-input {
  margin: 0;
}

img {
  max-width: 10em;
  margin-top: 1em;
}

@media screen and (max-width: 1000px) {
  body {
    min-width: 350px;
    text-align: center;
  }

  .sorting-hat-title {
    font-size: 2em;
    font-weight: bold;
  }

  .btn-sorting-start {
    width: 75%;
  }

  .form-inline {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 1em 1em 1em;
  }

  .mb-2 {
    width: 75%;
  }

  .card-subtitle {
    width: 100%;
  }

  .form-control {
    display: flex;
    flex-direction: column;
  }

  .filter-dropdown {
    max-width: 80%;
  }

  .good-students {
    flex-direction: column;
    max-width: 45%;
    min-height: 20em;
    align-self: flex-start;
    justify-content: center;
  }

  .bad-students {
    flex-direction: column;
    max-width: 45%;
    align-self: flex-start;
    min-height: 20em;
  }

  .student-card {
    flex-basis: 100%;
    margin: 0.5em;
    max-width: 100%;
    min-width: 90%;
    min-height: 22em;
  }

  .death-eater-card {
    flex-basis: 100%;
    margin: 0.5em;
    max-width: 100%;
    min-height: 22em;
  }

  .update-container {
    width: auto;
  }

  .update-form {
    width: auto;
  }

  .update-voldemort {
    margin: 8% 0 0 -100%;
  }

  .delete-btn {
    font-size: 1em;
  }
}
