.sorting-hat {
  background-color: rgb(155, 155, 155);
}

.card {
  display: flex;
  align-items: center;
  background-color: rgb(231, 231, 231);
  padding: 2em 0 3em 0;
}

.sorting-hat-title {
  font-size: 5em;
  font-weight: 300;
}

.btn-sorting-start {
  width: 25%;
}

hr {
  border-top: 1px solid rgb(77, 77, 77);
  width: 80%;
}

.student-form {
  display: flex;
  flex-direction: column;
  margin: 3em 1em 3em 1em;
  align-items: center;
  border: 2px solid darkgray;
  padding: 0.25em;
}

.form-inline {
  display: flex;
  width: 50%;
  margin: 0 1em 1em 1em;
}

.form-control {
  display: inline-flex;
  align-items: center;
  margin: 0 1em 0 1em;
}

#errorMessage {
  color: red;
}

.student-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.first-year-title {
  flex-basis: 45%;
  flex-grow: 2;
  text-align: center;
  visibility: hidden;
}

.voldemort-title {
  flex-basis: 45%;
  flex-grow: 2;
  text-align: center;
  visibility: hidden;
}
.good-students {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 45%;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
  border: 2px solid lightgray;
  visibility: hidden;
  min-height: 30em;
}

.bad-students {
  display: flex;
  border: 2px solid lightgray;
  margin: 1em;
  flex-basis: 45%;
  flex-grow: 2;
  visibility: hidden;
  min-height: 30em;
}

.student-card {
  display: flex;
  flex-basis: 20%;
  height: 15em;
  border: 2px solid lightgray;
  align-items: center;
  text-align: center;
  margin: 1.5em;
}

.card-subtitle {
  font-weight: normal;
}

.death-eater-card {
  flex-basis: 30%;
  border: 2px solid lightgray;
  margin: 1.5em;
  text-align: center;
}
